/* Reset CSS */
:root{
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --main-modal-color: rgba(247,222,30,0.85);
    --second-modal-color: rgba(34,34,34,0.85);
    --container-width: 1200px; 
}

html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size:  var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

/* Menú Hamburguesa */

.headerBox{
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-modal-color);
}

.headerBox h2{
    margin: 0 auto;
    text-align: center;
}

.section{
    padding: 2rem;
    padding-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}
.panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background-color: var(--second-modal-color);
    width: 100%;
    transition: transform 0.3s ease;
    /* De arriba */
    transform: translate(0, -100%);
    /* De abajo */
    transform: translate(0, 100%);
    /* De la derecha */
    transform: translate(100%, 0);
    /* De la izquierda */
    transform: translate(-100%, 0);
    }

.panel.is-active{
    transform: translate(0,0);
}
 body .panel-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vw;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.panel .menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.panel .menu a{
    padding: 2rem;
    width: inherit; /* hace que este al 100% del menú */
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3 ease;
}
.panel .menu a:hover{
    font-weight: bold;
    color: var(--second-modal-color);
    background-color: var(--main-modal-color);
}

/* eventos del teclado */

.stage{
    display: flex;
    min-height: 50vh;
    background-color: var(--second-modal-color);
}

.ball{
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

/* Scroll top Btn */

.scroll-top-btn{
position: fixed;
z-index: 999;
bottom: 1vh;
right: calc(4.25rem + 1vw);
width: 4rem;
height: 4rem;
border-radius: 50%;
font-weight: bold;
background-color: var(--main-color);
color: var(--second-modal-color);
outline: none;
border: 0;
font-size: 40px;
cursor: pointer;
transition: all 0.3s ease-in-out;

}
.scroll-top-btn:hover{
    background-color: var(--second-modal-color) ;
color: var(--main-color);
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

/* Dark - Light Btn */

.dark-theme-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--second-modal-color);
    outline: none;
    border: 0;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    }
    .dark-theme-btn:hover{
        background-color: var(--second-modal-color) ;
    color: var(--main-color);
    }
    
    .hidden{
        opacity: 0;
        visibility: hidden;
    }
    .dark-mode{
        background-color: var(--second-modal-color);
        color: var(--main-color);
    }

    /* Network Status */

    .online, .offline{
        position: sticky;
        top: 0;
        z-index: 1000;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        background-color: #1b5e20;
    }
    .offline{
        background-color: #b71c1c;
    }